img{
    height: 85px;
    text-align: left;
    
}
#fo img[src="assets/supermarkt.png"]
{
    width: 95px;
}


div{
    display: flex;
}

button{
    
    margin-top: 30px ;
    margin-left: 27px ;
    &:first-child{
        left: 10px;
    }
   

    width: 240px;
    height: 150px;
}
#ff{
    opacity: 1.0;
}
#sp{
    opacity: 2;
}
body{
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-image:
    url("/assets/cop.jpg");
    ;
    background-size: 100% 100% ;
    height: 950px;
    width: 100%;

    
}
