<div id="fo">
  <body>
    <div>
    <button id="Fastfood" (click)="fastfoodClick()">
      <h2>Fastfood-Preise</h2>
      <img id="ff" src="assets/FASTFOOD.png" />
      <h3 class="h3el">Preise bekannter Fast-food-Ketten.</h3>
    </button>

    <button id="Supermarkt" (click)="buttonClicked()">
      <h2>Supermarkt-Preise</h2>
      <img id="sp" src="assets/supermarkt.png" />
      <h3 class="h3el">Preise in kolumbianischen Supermärkten.</h3>
    </button>

    <button id="Supermarkt" (click)="houseClicked()">
      <h2>Wohnkosten</h2>
      <img id="sp" src="assets/haus.png" />
      <h3 class="h3el"> Mietpreise, Immobilienpreisen und Nebenkosten.</h3>
    </button >
    <div class="time">
      <h3 class="tim"> Aktuelle Uhrzeit in Kolumbien:
        <br>{{ti.dateTime | date: 'hh.mm a'}}</h3>
    </div>
  </div>

  </body>
</div>
