<div id="fo">

    <body>
        <button id="Fastfood" (click)="fastfoodClick()">
            <img id="ff" src="assets/FASTFOOD.png">
            <h3>Fastfood-Preise</h3>
        </button>

        <button id="Supermarkt" (click)="buttonClicked()">
            <img id="sp" src="assets/supermarkt.png">
            <h3>Supermarkt-Preise</h3>
        </button>

        <button id="Supermarkt" (click)="houseClicked()">
            <img id="sp" src="assets/haus.png">
            <h3>Wohnen</h3>
        </button>
    </body>
</div>