<body>
    <div class="all">
        <table style="">
            <tr>
                <th align="left">Grundnahrungs- <br>mittel</th>
                <th>Preis</th>
            </tr>
            <tr>
                <td>Spaghetti, 250 g</td>
                <td align="right">1.350 COP</td>
            </tr>
            <tr>
                <td>12 Eier</td>
                <td align="right">7.200 COP</td>
            </tr>

            <tr>
                <td>Reis, 1kg</td>
                <td align="right">4.500 COP</td>
            </tr>
            <tr>
                <td>500g Käse</td>
                <td align="right">12.000 COP</td>
            </tr>
            <tr>
                <td>450g Toastbrot</td>
                <td align="right">3.500 COP</td>
            </tr>
            <tr>
                <td>500g Kaffee aus <br> der Region</td>
                <td align="right">15.800 COP </td>
            </tr>
            <tr>
                <td>500g Käse</td>
                <td align="right">12.000 COP</td>
            </tr>
            <tr>
                <td>1 liter Milch</td>
                <td align="right">3.600 COP</td>
            </tr>

            <tr>
                <th>Früchte</th>
                <th></th>
            </tr>
            <tr>
                <td>Bananen, 1kg</td>
                <td align="right">2.300 COP</td>
            </tr>
            <tr>
                <td>Orangen, 1kg</td>
                <td align="right">2.500 COP</td>
            </tr>
            <tr>
                <th>Getränke</th>
                <th></th>
            </tr>
            <tr>
                <td>3l Softdrinks <br> <i>Pepsi-Cola, <br> Postobon, <br> Colombiana etc.
                    </i></td>
                <td align="right"> 5.500 COP</td>
            </tr>
            <tr>
                <th>Sonstiges</th>
                <th></th>
            </tr>
            <tr>
                <td>1 kg Ketchup/ <br> Mayonaise</td>
                <td align="right">10.000 COP</td>
            </tr>
            <tr>
                <td>Zigaretten 20 Stück</td>
                <td align="right">8.000 COP</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>

        </table>
        <div style="width:246px; text-align: center;">
            <iframe
                src="https://www.umrechner-euro.de/widget/widget.php?v=2&width=246&components=r&kursStart=USD&calcView=all&calcStartCountry=COP&calcEndCountry=EUR&kursCountries=EUR-CHF-&tableView=buttonAll&tableCount ry=USD&borderColor=CCCCCC&headerBackground=4F4F4F&headerColor=FFFFFF&fontColor=000000&boxBackground=F7F7F7&linkColor=FF7A00&tableHead=ADADAD&tableHeadColor=FFFFFF&tableBackground=FFFFFF&tableRowColor=000000&buttonBackground=FF7A00&buttonColor=FFFFFF&fontFamily=Tahoma&fontHeadSize=12&fontContentSize=12"
                width="246" height="198" name="iframe" id="iframe" marginwidth="0" marginheight="0" frameborder="0"
                scrolling="no">
            </iframe>
        </div>
    </div>

</body>