header {
    box-shadow: 0px, 0px, 0px, 0px, rgba(22, 2, 2, 0.5);
    background-color: green;
    height: 63.0px;
    min-height: 7vh;
    font-size: 20px;
}

div {
    display: flex;
}

h1 {
    margin-left: 5px;
    margin-top: 0px;
    font-size: 28px;
}

img {

    width: 37px;
    margin-left: 0px;
    margin-top: 1ch;

}

button:hover {
    background-color: rgb(184, 219, 188);

}

button {
    margin-left:12px;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    color: rgb(5, 5, 5);
    background-color: rgb(229, 255, 229);
    height: 45px;
    width: 50px;
    text-align: center;
    
}