<body>

    <div>
        <table style="display: inline-block; margin-left: 75px;" id="mcdo">
            <tr>
                <th><img src="assets/mcdonalds.png"></th>
                <th>Fast Food</th>
                <th colspan=""> {{cs.currentCurrency}}</th>
            </tr>

            <tr>
                <td>1</td>
                <td>Big Mac</td>
                <td class="price">{{cs.math(20900)}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Hamburger</td>
                <td class="price">{{cs.math(9900)}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Cheeseburger</td>
                <td class="price">{{cs.math(10900)}}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Große Pommes</td>
                <td class="price">{{cs.math(8900)}}</td>
            </tr>
            <tr>
                <th><img src="assets/lemonade.png" alt=""> </th>
                <th>Getränke</th>
                <th colspan=""></th>
            </tr>
            <tr>
                <td>1</td>
                <td>Coca-Cola groß</td>
                <td class="price">{{cs.math(7000)}}</td>
            </tr>
            <tr>
                <th><img src="assets/milkshake.png" alt=""></th>
                <th>Desserts</th>
                <th><img src="assets/leer.png" alt=""></th>
            </tr>
            <tr>
                <td>1</td>
                <td>Mcflurry</td>
                <td class="price">{{cs.math(10900)}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Milchshake</td>
                <td class="price">{{cs.math(11900)}}</td>
            </tr>
            <br><br>
            <tr>
                <th>Stand: </th>
                <th> Oktober 2023</th>
            </tr>
        </table>

        <table style="display: inline-block; margin-left: 30px;" id="kfctable" class="kfc">
            <tr>
                <th><img src="assets/kfc.png"></th>
                <th>Fast Food</th>
                <th>{{cs.currentCurrency}}</th>
            </tr>
            <tr>
                <td>1</td>
                <td>9 Hot Wings</td>
                <td class="price">{{cs.math(18900)}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2 Chicken Wings</td>
                <td class="price">{{cs.math(9900)}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bbq Crunch</td>
                <td class="price">{{cs.math(9900)}}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Popcorn klein</td>
                <td class="price">{{cs.math(9500)}}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Große Pommes</td>
                <td class="price">{{cs.math(7500)}}</td>
            </tr>
            <tr>
                <th> <img src="assets/lemonade.png" alt=""></th>
                <th>Getränke</th>
                <th></th>
            </tr>
            <tr>
                <td>1</td>
                <td>Pepsi Cola 400ml</td>
                <td class="price">{{cs.math(3500)}}</td>
            </tr>
            <tr>
                <th><img src="assets/milkshake.jpg" alt=""></th>
                <th>Desserts</th>
                <th></th>
            </tr>
            <tr>
                <td>1</td>
                <td>Sundae</td>
                <td class="price">{{cs.math(5500)}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Avalancha Oreo</td>
                <td class="price">{{cs.math(8500)}}</td>
            </tr>
          
            <br>
            <tr>
                <th>Stand: </th>
                <th> Oktober 2023</th>
            </tr>
        </table>
        <div class="button"> <button class="currencybtn" id="currencybtn" (click)="cs.ChangeCurrency()">{{cs.currencybtnText}}</button>
        </div>
        <div class="time">

            <h3> Aktuelle Uhrzeit in Kolumbien:
                <br>{{ti.dateTime | date: 'hh.mm a'}}
            </h3>

        </div>

    </div>

</body>