<body>
    <div>
        <table style="display: inline-block; margin-left: 75px;" id="mcdo">
            <tr>
                <th><img src="assets/mcdonalds.png"></th>
                <th>Fast Food</th>
                <th colspan="3">Preis: COP$</th>
            </tr>

            <tr>
                <td>1</td>
                <td>Big Mac</td>
                <td>20.900 COP</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Hamburger</td>
                <td>9.900 COP</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Cheeseburger</td>
                <td>10.900 COP</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Große Pommes</td>
                <td colspan="3">8.900 COP</td>
            </tr>
            <tr>
                <td></td>
                <td></td><br>
            </tr>
            <br>
            <tr>
                <th><img src="assets/leer.png" alt=""> </th>
                <th>Getränke</th>
                <th colspan=""><img src="assets/leer.png" alt=""></th>
            </tr><br>
            <tr>
                <td>1</td>
                <td align="right">Coca-Cola groß</td>
                <td colspan="3" >7.000 COP</td>
            </tr><br>
            <tr>
                <th><img src="assets/leer.png" alt=""></th>
                <th>Eis</th>
                <th><img src="assets/leer.png" alt=""></th>
            </tr><br>
            <tr>
                <td>1</td>
                <td>Mcflurry</td>
                <td>10.900 COP</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Milchshake</td>
                <td>11.900 COP</td>
            </tr>
            <tr>
                <td> </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> </td>
                <td></td>
                <td></td>
            </tr>
            <br><br>
            <tr>
                <th>Stand: </th>
                <th> Oktober 2023</th>
            </tr>
        </table>

        <table style="display: inline-block; margin-left: 30px;" id="kfctable" class="kfc">
            <tr>
                <th><img src="assets/kfc.png"></th>
                <th>Fast Food</th>
                <th>Preis: COP$</th>
            </tr>
            <tr>
                <td>1</td>
                <td>9 Hot Wings</td>
                <td>18.900 COP</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2 Chicken Wings</td>
                <td>9.900 COP</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bbq Crunch</td>
                <td>9.900 COP</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Popcorn klein</td>
                <td>9.500 COP</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Große Pommes</td>
                <td>7.500 COP</td>
            </tr>
            <br>
            <tr>
                <th> <img src="assets/leer.png" alt=""></th>
                <th>Getränke</th>
                <th>Preis: COP$</th>
            </tr><br>
            <tr>
                <td>1</td>
                <td>Pepsi Cola 400ml</td>
                <td>3.500 COP</td>
            </tr><br>
            <tr>
                <th><img src="assets/leer.png" alt=""></th>
                <th>Eis</th>
                <th></th>
            </tr><br>
            <tr>
                <td>1</td>
                <td>Sundae</td>
                <td>5.500 COP</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Avalancha Oreo</td>
                <td>8.500 COP</td>
            </tr>
            <tr>
                <td> </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> </td>
                <td></td>
                <td></td>
            </tr>
            <br><br>
            <tr>
                <th>Stand: </th>
                <th> Oktober 2023</th>
            </tr>
        </table>
    </div>
    <div style="width:246px; text-align: center;">
        <iframe
            src="https://www.umrechner-euro.de/widget/widget.php?v=2&width=246&components=r&kursStart=USD&calcView=all&calcStartCountry=COP&calcEndCountry=EUR&kursCountries=EUR-CHF-&tableView=buttonAll&tableCount ry=USD&borderColor=CCCCCC&headerBackground=4F4F4F&headerColor=FFFFFF&fontColor=000000&boxBackground=F7F7F7&linkColor=FF7A00&tableHead=ADADAD&tableHeadColor=FFFFFF&tableBackground=FFFFFF&tableRowColor=000000&buttonBackground=FF7A00&buttonColor=FFFFFF&fontFamily=Tahoma&fontHeadSize=12&fontContentSize=12"
            width="246" height="198" name="iframe" id="iframe" marginwidth="0" marginheight="0" frameborder="0"
            scrolling="no">
        </iframe>
    </div>
</body>