table{
    margin-top: 100px;
    background-color: rgba(234, 250, 7, 0.1);
    .kfc{
        margin-left: 100px;
    }
  
}

img{
    width: 40px;
    
}
iframe{
    margin-left: 10px;
    margin-top: 70px;
    opacity: 0.75;
}


div{
    display: flex;
}
body
{
    margin-top: 20px;
    background-image:
    url("/assets/fastfoodwall.jpg");
    width: 100px;
    background-size: 100% 100%;
    background-color: transparent;
    height: 933px;
    width: 100%;
    
}
