table{
    margin-left: 100px;
    margin-top: 100px;
    background-color: rgba(234, 250, 7, 0.1);
  
}

img{
    width: 40px;
    
}
iframe{
    margin-left: 100px;
    margin-top: 70px;
    opacity: 0.75;
}


div{
    display: flex;
}
body
{
    margin-top: 20px;
    background-image:
    url("/assets/fastfoodwall.jpg");
    width: 100px;

    height: 900px;
    width: 1980px;
    
}
