table {
    margin-top: 20px;
    background-color: rgba(234, 250, 7, 0.1);

    .kfc {
        margin-left: 100px;
    }

}

.time {
    text-align: right;
    margin-left: auto;
    margin-right: 200px;
}

img {
    width: 40px;

}


div {
    display: flex;
}

body {
    margin-top: 20px;
    background-image:
        url("/assets/fastfoodwall.jpg");
    width: 100px;
    background-size: 100% 100%;
    background-color: transparent;
    height: 90vh;
    min-width: 100%;

}
.currencybtn{
    background-color: rgb(179, 211, 181);
    color: rgb(3, 3, 3);
    font-weight: 100;
}


.price {
    text-align: right;
}
