<body>
    <div>


        <table style="margin-top: 40px;">
            <tr>
                <th align="left" >Wohnkosten</th>
                <th>Preis</th>
            </tr>
            <br><br>
            <tr>
                <th align="left">Warmiete </th>
                <td></td>
            </tr>
            <br>
            <tr>
                <td class="living">1-Zimmerwohnung</td>
                <td class="price">ab 500.000 COP</td>
            </tr>
            <tr>
                <td class="living">2-Zimmerwohnung</td>
                <td class="price">ab 700.000 COP</td>
            </tr>
            <tr>
                <td class="living">3-Zimmerwohnung</td>
                <td class="price">ab 850.000 COP</td>
            </tr>
            <br>
            <tr>
                <th  >Eigentumswohnung</th>
                <th >Preis pro m2</th>
            </tr>
            <br>
            <tr>
                <td class="living">
                    Außerhalb des
                    Stadt-<br>zentrums</td>
                <td class="price">ab 2.000.000 COP</td>
            </tr>
            <tr>
                <td class="living">Innerhalb des
                Stadt-<br>zentrums</td>
                <td class="price">ab 5.000.000 COP</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="time">
            <h3 > Aktuelle Uhrzeit in Kolumbien:
              <br>{{ti.dateTime | date: 'hh.mm a'}}</h3>
          </div>
    </div>
    <br><br>
    <exchange-rate></exchange-rate>



</body>
