table {
    margin-left: 33.0%;
    background-color: rgba(235, 243, 235, 0.753);
    margin-top: 30px;
    font-size: 18px;
}
.time{
    text-align: right;
    margin-left: auto;
    margin-right: 200px;
}

button:hover{
    background-color: rgba(221, 221, 221, 0.9);

}

.all {
margin-top: 10px;
    display: flex;
}
th{
    color:  rgb(189, 19, 19);
    text-align: left;
}

img {
    width: 40px;
}

body {
    background-image:
        url("/assets/supmer.jpg");
    background-size: 100% 100%;
    background-color: rgba(127, 129, 127, 0.753);
    height: 93.5vh;
    max-height: 91vh;
    width: 100%;
    background-size: 100% 100%;
    min-width: 100vh;
    
}
.currencybtn{
    margin-left: 20%;
    width: 100px;

    
}

