<body>
    <div class="all">
        <table>
            <tr>
                <th align="left">Grundnahrungs- <br>mittel</th>
                <th>{{cs.currentCurrency}}</th>
            </tr>
            <tr>
                <td class="product">Spaghetti, 250 g</td>
                <td class="price" align="right">{{cs.math(1350)}}</td>
            </tr>
            <tr>
                <td class="product">12 Eier</td>
                <td align="right" class="price">{{cs.math(7200)}}</td>
            </tr>

            <tr>
                <td class="product">Reis, 1kg</td>
                <td align="right" class="price">{{cs.math(4500)}}</td>
            </tr>
            <tr>
                <td class="product">500g Käse</td>
                <td align="right" class="price">{{cs.math(12000)}}</td>
            </tr>
            <tr>
                <td class="product">450g Toastbrot</td>
                <td align="right" class="price">{{cs.math(3500)}}</td>
            </tr>
            <tr>
                <td class="product">500g Kaffeepulver</td>
                <td align="right" class="price">{{cs.math(15800)}} </td>
            </tr>
            <tr>
                <td class="product">500g Käse</td>
                <td align="right" class="price">{{cs.math(1200)}}</td>
            </tr>
            <tr>
                <td class="product">1 liter Milch</td>
                <td align="right" class="price">{{cs.math(3600)}}</td>
            </tr>

            <tr>
                <th>Früchte</th>
                <th></th>
            </tr>
            <tr>
                <td class="product">Bananen, 1kg</td>
                <td align="right" class="price">{{cs.math(2300)}}</td>
            </tr>
            <tr>
                <td class="product">Orangen, 1kg</td>
                <td align="right" class="price">{{cs.math(2500)}}</td>
            </tr>
            <tr>
                <th>Getränke</th>
                <th></th>
            </tr>
            <tr>
                <td class="product">3l Softdrinks <br> <i>Pepsi-Cola, <br> Postobon, <br> Colombiana etc.
                    </i></td>
                <td align="right" class="price"> {{cs.math(5500)}}</td>
            </tr>
            <tr>
                <th>Sonstiges</th>
                <th></th>
            </tr>
            <tr>
                <td class="product">1 kg Ketchup/ <br> Mayonaise</td>
                <td align="right" class="price">{{cs.math(10000)}}</td>
            </tr>
            <tr>
                <td class="product">Zigaretten 20 Stück</td>
                <td align="right" class="price">{{cs.math(8000)}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>

        </table>
        <div class="button"> <button class="currencybtn" (click)="cs.ChangeCurrency()">{{cs.currencybtnText}}</button>
        </div>
        <div class="time">
            <h3> Aktuelle Uhrzeit in Kolumbien:
                <br>{{ti.dateTime | date: 'hh.mm a'}}
            </h3>
        </div>
    </div>

</body>