<body>
    <div>

        <table>
            <tr>
                <th>Wohnkosten</th>
                <th style="text-align: center;">{{cs.currentCurrency}}</th>
            </tr>
            <tr>
                <td style="color: red;" align="left">Warmiete </td>
                <td></td>
            </tr>
            <br>
            <tr>
                <td class="living">1-Zimmerwohnung</td>
                <td class="price">ab {{cs.math(500000)}}</td>
            </tr>
            <tr>
                <td class="living">2-Zimmerwohnung</td>
                <td class="price">ab {{cs.math(700000)}}</td>
            </tr>
            <tr>
                <td class="living">3-Zimmerwohnung</td>
                <td class="price">ab {{cs.math(850000)}}</td>
            </tr>
            <br>
            <tr>
                <th>Eigentumswohnung</th>
                <th>Preis pro m2</th>
            </tr>
            <br>
            <tr>
                <td class="living">
                    Außerhalb des
                    Stadt-<br>zentrums</td>
                <td class="price">{{cs.math(2000000)}}</td>
            </tr>
            <tr>
                <td class="living">Innerhalb des
                    Stadt-<br>zentrums</td>
                <td class="price">{{cs.math(5000000)}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="button">
            <button class="currencybtn" (click)="cs.ChangeCurrency()">{{cs.currencybtnText}}</button>
        </div>
        <div class="time">
            <h3> Aktuelle Uhrzeit in Kolumbien:
                <br>{{ti.dateTime | date: 'hh.mm a'}}
            </h3>
        </div>
    </div>
    <br><br>


</body>