table{
    margin-left: 10%;
    margin-right: auto;
    background-color: rgba(223, 224, 210, 0.521);  
}
div{
    display: flex;
}
iframe{
    margin-right: 600px;
}


body{
    background-image:
    url("/assets/bogota.jpg");
    background-size: 100% 100% ;
    margin-top: 0px;

    height: 950px;
    min-width: 100vh;;
    
}
