table{
    margin-left: 100px;
    margin-top: 100px;
    background-color: rgba(234, 250, 7, 0.1);
  
}

iframe{
    margin-left: 100px;
    margin-top: 65px;
}
body{
    margin-top: 100px;
    background-image:
    url("/assets/bogota.jpg");
    width: 100px;

    height: 773px;
    width: 1600px;
    
}
