<body>
    <div>
    <table style="margin-top: 40px;">
        <tr>
        <th align="left">Wohnkosten</th>
        <th>Preis in COP$</th>
    </tr>
    <br>
    <tr>
        <th align="left">Warmiete </th>
        <td></td>
    </tr>
    <tr>
        <td>1-Zimmerwohnung</td>
        <td>ab 500.000 COP</td>
    </tr>
    <tr>
        <td>2-Zimmerwohnung</td>
        <td>ab 700.000 COP</td>
    </tr>
    <tr>
        <td>3-Zimmerwohnung</td>
        <td>ab 850.000 COP</td>
    </tr>
    <br>
    <tr>
        <th>Eigentumswohnung</th>
        <th>Preis pro m2</th>
    </tr>
    <tr>
        <td></td>
        <td>ab 2.000.000 COP</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    </table>
</div>

    <div style="width:250px; text-align: center;">
        <iframe src="https://www.umrechner-euro.de/widget/widget.php?v=2&width=250&components=r&kursStart=USD&calcView=all&calcStartCountry=COP&calcEndCountry=EUR&kursCountries=EUR-CHF-&tableView=buttonAll&tableCountry=USD&borderColor=FF0000&headerBackground=FEDF00&headerColor=002776&fontColor=F5EE2A&boxBackground=009B3A&linkColor=FEDF00&tableHead=002776&tableHeadColor=FEDF00&tableBackground=FFFFFF&tableRowColor=000000&buttonBackground=FEDF00&buttonColor=78FFE8&fontFamily=Verdana&fontHeadSize=12&fontContentSize=12" width="250" height="198" name="iframe" id="iframe" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" >
        </iframe>
        <a href="https://www.umrechner-euro.de/waehrungsrechner.htm" target="_blank">
        </a>
    </div>
    
</body>
