/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



iframe {
    opacity: 0.9
}
.currencybtn{
    width: 123px;
    height: 46px;
    font-weight: 100;
    font-size: 18px;
}
.button{margin-top: 30px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
